<%
  title = "國立臺灣大學新南向開放課程"
  description = "國立臺灣大學教學發展中心回應政府的新南向政策，在台灣駐泰國代表處協助下，針對新南向國家的發展需求，集結臺大開放式課程、臺大 MOOC 與臺大演講網的精選內容，分為資訊科技、商管經濟、認識亞太、人文史地等四大類優良課程，以數位化公開的方式跨越國界與時間的限制，讓知識與新南向國家公民與全球社群共享。"

  def get_badge_type(source)

    badge_type = "" 
    case source 
      when "ocw" 
        badge_type = "success" 
      when "mooc"
        badge_type = "warning" 
      when "speech" 
        badge_type = "info" 
    end
    badge_type
  end

  def source_title(source)

    title = "" 
    case source 
      when "ocw" 
        title = "開放式課程" 
      when "mooc"
        title = "MOOC x Coursera" 
      when "speech" 
        title = "台大演講網" 
    end
    title
  end

  def display_instructors(instructors)
    result = ""    

    instructors.each_with_index do |instructor, index|
      result << instructor["department"] + " " + instructor["name"]
      if index < instructors.length - 1
        result << "、"
      end
    end
    
    result
  end
%>

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <!-- SEO Section -->
        <meta name="author" content="國立臺灣大學教學發展中心" />
        <meta name="copyright" content="國立臺灣大學">
        <meta name="description" content="<%= description %>" />
        <!-- Open Graph -->
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:url" content="https://apac.dlc.ntu.edu.tw/" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:locale" content="zh_TW" />
        <meta property="og:image" content="http://apac.dlc.ntu.edu.tw/images/preview.png" />
        <meta property="og:image:secure_url" content="https://apac.dlc.ntu.edu.tw/images/preview.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <style>
            html {
              font-size: 16px;
            }

            body { 
              position: relative: 
              min-height: 75rem; 
              padding-top: 4.5rem; 
              font-family: "Heiti TC","HeitiTC-Light","LiHei","微軟正黑體","Lato","Verdana","Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
            } 
             
            a.anchor { 
              display: block; 
              position: relative; 
              top: -5rem; 
              visibility: hidden; 
            } 
             
            .course-container .card {
              cursor: pointer;
            }

            .ratio-4-3 { 
              width: 100%; 
              position: relative; 
              background: url() 50% 50% no-repeat; 
              background-size: 100% auto; 
              background-clip: content-box; 
            } 
             
            .ratio-4-3:before { 
              display: block; 
              content: ""; 
              padding-top: 56.25%; 
            } 
             
            .course-header {
              font-size: 16px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .course-info-wrapper { 
              width: 100%; 
              display: inline-block; 
              position: relative; 
            } 
             
            .course-info-wrapper:after { 
              padding-top: 137px; 
              display: block; 
              content: ''; 
            } 
             
            .course-info-main { 
              position: absolute; 
              top: 0; 
              bottom: 0; 
              right: 0; 
              left: 0; 
              overflow: hidden; 
            } 
/* Ellipsis title to 2 line */
            .course-info-title {
              display: -webkit-box;  
              overflow:hidden;
              text-overflow : ellipsis;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              color: black;
            }
/* Ellipsis text to 2 line */
            .course-info-text {
              line-height:1.5;
              display: -webkit-box;  
              overflow:hidden;
              text-overflow : ellipsis;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }
            .title-link, .title-link:hover, .info-link, .info-link:hover  {
              color: #212529;
            }

            .info-link:hover {
              text-decoration: none;
            }

            .footer {
              background-color: #f7f7f7; 
            }
            .vcenter {
              display: inline-block;
              vertical-align: middle;
              float: none;
            }
        </style>
    </head>

    <body data-spy="scroll" data-target="#navbar">
        <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#intro"><%= title %></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigatioa">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#guide">學習指引</a>

                        <div class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            數位課程
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#course-it">資訊科技</a>
                            <a class="dropdown-item" href="#course-business">商管經濟</a>
                            <a class="dropdown-item" href="#course-asia">認識亞太</a>
                            <a class="dropdown-item" href="#course-culture">人文史地</a>
                          </div>
                        </div>
                        <a class="nav-item nav-link" href="#faq">常見問題</a>
                        <a class="nav-item nav-link" href="#about">關於我們</a>
                    </div>                
                </div>
            </div>
        </nav>


        <div class="container">
            <a class="anchor" id="intro"></a>
            <div class="jumbotron mt-2">
              <p class="lead"><%= description %></p>
            </div>

            <a class="anchor" id="guide"></a>
            <div class="card bg-light">
              <h4 class="card-header">
                學習指引
              </h4>
              <div class="card-body">
                <p>本網站收集以下三類完全公開、完全免費的數位內容：</p>
                <h5><a target="_blank" href="http://ocw.aca.ntu.edu.tw/ntu-ocw/">一、臺大開放式課程</a></h5>
                <p>將教師實體授課內容側錄並公開，讓學習者可與臺大學生聆聽一樣的授課內容。欲修習者僅須點擊課程連結，即可立即收看影片並下載教材。</p>

                <h5><a target="_blank" href="https://zh-tw.coursera.org/taiwan">二、臺大 MOOC（Massive Online Open Course）</a></h5>
                <p>由教師專門進棚為校外學習者製作之數位課程，放置於國際平臺 coursera。欲修習者僅須於 coursera 用一分鐘簡單註冊帳號，即可收看包含臺大在內上百間世界名校之線上課程。</p>

                <h5><a target="_blank" href="https://speech.ntu.edu.tw/ntuspeech/">三、臺大演講網</a></h5>
                <p>將國內外知名學者、人士於臺大之演講側錄並公開。</p>
              </div>
            </div>

            <div class="course-container">
                <% @courses.each_with_index do |courses_each_type,i| %>
                  <a class="anchor" id="course-<%= courses_each_type[:id] %>"></a>
                  <h1 class="pb-2 mt-4"><%= courses_each_type[:title] %></h1>
                  <div class="row">
                    <% courses_each_type[:courses].each_with_index do |course,j| %>
                      <div class="col-md-6 col-xl-4 mb-4">
                        <div class="card" data-toggle="modal" data-target="#modal<%=i%><%=j%>">
                          <div class="img-responsive ratio-4-3" style="background-image:url('<%= course["images"][0].to_h["path"] %>')"></div>
                          <div class="card-body">
                            <div class="course-header mb-3">
                              <span class="badge badge-<%= get_badge_type(course["source"]) %>"><%= source_title(course["source"]) %></span>
                              <% if course.has_key? "english_course" %>
                                <span class="badge badge-danger mr-1">英語授課</span>
                              <% end %>
                              <span class="card-subtitle text-muted ml-1 mb-1">
                                <%= display_instructors(course["instructors"]) %>
                              </span>
                            </div>
                            <div class="course-info-wrapper mb-2">
                              <div class="course-info-main">
                                <h4 class="course-info-title"><%= course["title"] %></h4>
                                <p class="course-info-text">
                                  <%= course["info"] %>
                                </p>
                              </div>
							              </div >
                            <a class="btn btn-primary" target="_blank" href="<%= course['course_url'] %>" onclick="event.stopPropagation();">前往課程</a>
                          </div>
                        </div>
                      </div>
                      <!-- Modal -->
                      <div class="modal fade" id="modal<%=i%><%=j%>" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h2 class="modal-title"><%= course["title"] %></h2>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col">
                                  <img class="w-100" src="<%= course["images"][0].to_h["path"] %>">
                                </div>
                                <div class="col">
                                  <span class="badge badge-<%= get_badge_type(course["source"]) %>"><%= source_title(course["source"]) %></span>
                                  <% if course.has_key? "english_course" %>
                                    <span class="badge badge-danger mr-1">英語授課</span>
                                  <% end %>
                                  <span class="card-subtitle text-muted ml-1 mb-1">
                                    <%= display_instructors(course["instructors"]) %>
                                  </span>
                                  <p>
                                  <%= course["info"] %>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                              <a target="_blank" href="<%= course['course_url'] %>"><button type="button" class="btn                       btn-primary">前往課程</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            </div>

            <a class="anchor" id="faq"></a>
            <div class="card mb-4">
              <h4 class="card-header">常見問題</h4>
              <div class="card-body">
                <h5>Q1: 網站上的內容全部都免費嗎？怎麼會有這麼好的事？</h5>
                <p>A：是的，全部免費，這是因為臺大做為世界的一份子，有向所有人傳遞知識的社會責任。</p>

                <h5>Q2: 網站上共有多少課程、演講呢？</h5>
                <p>A：臺大開放式課程上共有超過 200 門課程、臺大 MOOC 上面有超過 30 門課程、臺大演講網上則有超過 2,000 場演講。這些課程或演講全部都可以在臺大網站上找到喔！</p>

                <h5>Q3: 有沒有生醫、理化、法律、工程等領域的課程或演講呢？</h5>
                <p>A：有的！歡迎到<a target="_blank" href="http://ocw.aca.ntu.edu.tw/ntu-ocw/">臺大開放式課程</a>、<a target="_blank" href="https://zh-tw.coursera.org/taiwan">臺大 MOOC</a> 或<a target="_blank" href="https://speech.ntu.edu.tw/">臺大演講網</a>的首頁搜尋或瀏覽喔！</p>

                <h5>Q4: 這樣好的臺大開放式課程、臺大 MOOCs 和臺大演講網，多久更新一次呢？</h5>
                <p>A: 我們致力於平均每個月會有至少 1 門新製高品質課程，以及至少 2 場新製優質演講。</p>

                <h5>Q5: coursera 需要註冊，我要如何參與使用？</h5>
                <p>A: 只要你有電子郵件信箱，就可以輕鬆在 coursera 註冊帳號。只要彈指之間，就能跟我們一起倘佯這浩瀚知識汪洋。</p>
              </div>
            </div>

            <a class="anchor" id="about"></a>
            <div class="card mb-4">
              <h4 class="card-header">關於我們</h4>
              <div class="card-body">
                <p><a target="_blank" href="https://ctld.ntu.edu.tw">國立臺灣大學教學發展中心</a> (臺大教發中心) 核心任務之一，是致力開展臺灣高等教育資源公共化，透過專業教學設計、高品質影視錄製與網路技術，將立基於臺灣的華文知識生產，可以跨國界與無時限地與全球公民社會互惠交流。</p>

                <p><a target="_blank" href="https://ctld.ntu.edu.tw">臺大教發中心</a>，在<a target="_blank" href="http://www.taiwanembassy.org/th/">臺灣駐泰國代表處</a>的協助下，特別彙整包括 (1) 資訊科技、(2) 商管經濟、(3) 認識亞太、(4) 人文史地等四大課群數十門課程，讓臺大優質教學資源可以在臺灣與新南向國家在地社群有更多機會流通、利用與推廣，進一步讓臺灣和新南向國家公民社會在國際合作與發展做上，可以有更緊密的社會實踐與知識創新。 </p>
              </div>
            </div>
        </div> 
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 py-4">
                        <h6><a class="footer-link text-dark" target="_blank" href="https://ctld.ntu.edu.tw">臺灣大學教學發展中心</a></h6>
                        <ul class="text-muted list-unstyled">
                            <li><small>E-mail: ntuctld@ntu.edu.tw</small></li>
                            <li><small>TEL: 886-2-3366-3367</small></li>
                            <li><small>FAX: 886-2-3366-9594</small></li>
                            <li><small>地址：10607 臺北市羅斯福路四段一號</small></li>
                            <li><small>No.1, Sec, 4, Roosevelt Road, Taipei, 10617 Taiwan</small></li>
                        </ul>
                        <a target="_blank" href="https://ctld.ntu.edu.tw"><img class="mr-1" style="height: 50px; width: 50px;" src="images/ctld_logo.png"></a>
                        <a target="_blank" href="https://www.ntu.edu.tw"><img style="height: 50px; width: 50px;" src="images/ntu_logo.png"></a>
                    </div>
                    <div class="col-md-6 py-4">
                        <h6><a class="footer-link text-dark" target="_blank" href="http://www.taiwanembassy.org/th/">駐泰國台北經濟文化辦事處</a></h6>
                        <ul class="text-muted list-unstyled">
                            <li><small>TEL: 066-2-670-0200</small></li>
                            <li><small>FAX: 66-2-670-0220</small></li>
                            <li><small>地址：20th Fl., Empire Tower, 1 South Sathorn Rd., Bangkok, 10120 Thailand</small></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

<script>
$(document).ready(function() {
  $('#navbar a').on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function() {
        window.location.hash = hash;
      });
    }
  });

  $('.course-container .modal').on('show.bs.modal', function(event) {
    if (document.documentElement.clientWidth < 768) {
      event.preventDefault();
    }
  });
});

</script>
    </body>
</html>
